<h1 id="relational-model">Relational Model</h1>
<p><strong><img src="https://lh5.googleusercontent.com/PvHAc6bPypcSmL7tsz9I4OS1A_-1XI6sQsurMCKawp_OSjvOhePyrlODjA0fUU52GteBI1gn7wSnzstAtFP_VXTDznSuPpcwZdWyfZecu2kRf1qOc1FoQOXOq663hIQl6H_AbGHK-Vp67JlnM2a058T0Ew-7tHuU9RQBBlgWKHfUcjaasJ5lkaG8xQ" /></strong></p>
<h3 id="tentukan-primary-keys-and-foreign-keys-di-setiap-tabel-dalam-database.-untuk-setiap-foreign-key-harus-ditunjukan-tabel-dan-kolom-yang-menjadi-referensinya.">Tentukan Primary keys and foreign keys di setiap tabel dalam database. Untuk setiap foreign key harus ditunjukan tabel dan kolom yang menjadi referensinya.</h3>
<ol type="1">
<li>Patient
<ol type="1">
<li>Primary Key : Code</li>
<li>Foreign Key : -</li>
</ol></li>
<li>Ward
<ol type="1">
<li>Primary Key : Code</li>
<li>Foreign Key : Consultant References from Doctor Number</li>
</ol></li>
<li>Admission
<ol type="1">
<li>Primary Key : -</li>
<li>Foreign Key :
<ol type="1">
<li>Patient References from Patient Code</li>
<li>Ward References from Ward Code</li>
</ol></li>
</ol></li>
<li>Doctor
<ol type="1">
<li>Primary Key : Number</li>
<li>Foreign Key : Ward References from Ward Code</li>
</ol></li>
</ol>
<h3 id="dapatkah-data-number-502-surname-white-firstname-john-ward-d-ditambahkan-ke-relasi-doctor-berikan-penjelasan-pada-jawaban-anda.">Dapatkah data (Number = 502, Surname = White, FirstName = John, Ward = D) ditambahkan ke relasi DOCTOR? Berikan penjelasan pada jawaban Anda.</h3>
<p><strong>Jawab</strong>: Data tersebut tidak dapat ditambahkan ke relasi DOCTOR. Karena meskipun seluruh data yang diperlukan oleh atribut tabel DOCTOR sudah terpenuhi, Ward yang merupakan foreign key tidak terdapat Ward = D.</p>
<h3 id="dapatkah-baris-record-ke-3-dari-relasi-ward-dihapus-berikan-penjelasan-pada-jawaban-anda.">Dapatkah baris (record) ke 3 dari relasi WARD dihapus? Berikan penjelasan pada jawaban Anda.</h3>
<p><strong>Jawab</strong> : Baris ketiga pada relasi WARD tidak dapat dihapus karena berkaitan terhadap data lainnya.</p>
<h3 id="apakah-surname-firstname-di-relasi-patient-merupakan-superkey-berikan-penjelasan-pada-jawaban-anda.">​​Apakah (Surname, FirstName) di relasi PATIENT merupakan superkey? Berikan penjelasan pada jawaban Anda.</h3>
<p><strong>Jawab</strong>: Bisa karena nama dapat menjadi atribut yang unik untuk mengidentifikasi baris atau data dalam tabel.</p>
<h1 id="relational-algebra">Relational Algebra</h1>
<p>Jawablah kueri di bawah ini menggunakan Relational</p>
<p>Algebra pada basis data universitas yang tersedia di RelaX. Tuliskan jawaban pada MS-Word dan lampiri dengan screenshot dari luaran yang ada di RelaX. Jika ada kueri yang tidak dapat dituliskan dalam Relational Algebra, berikan alasannya.</p>
<ol type="1">
<li><p>Menampilkan nama departemen pada building ‘Taylor’.</p>
<p><code class="sourceCode sql">σ building<span class="op">=</span><span class="st">&#39;Taylor&#39;</span> department</code></p></li>
<li><p>Menampilkan nama mata kuliah yang memiliki prasyarat.</p>
<p><code>course ⨝ prereq</code> ￼</p></li>
<li><p>Menampilkan instructor.ID, instructor.name dan teaches.course_id dari tabel instructor dan teaches di mana on instructor.ID = teaches.ID</p></li>
</ol>
<p>𝚷 instructor.ID, instructor.name, teaches.course_id (instructor ⨝ teaches)</p>
<ol start="4" type="1">
<li>Menampilkan student.ID dan course.ID dari tabel student dan course di mana takes.year = 2009 dan takes.grade = ‘A’</li>
</ol>
<p>π student.ID, takes.course_id (student ⨝ (takes.year = 2009 ∧ takes.grade = ‘A’) takes)</p>
<ol start="5" type="1">
<li><p>Menampilkan jumlah mahasiswa (membuat kolom baru bernama ‘jumlah’) yang nilainya A atau A- dari tabel takes pada tahun 2009</p>
<p>γ count(takes.ID) → jumlah(σ (takes.grade = ‘A’ or takes.grade = ‘A-’) (takes))</p></li>
<li><p>Menampilkan nama mahasiswa dengan inisial B.</p></li>
</ol>
<p>σ (name like ‘B%’) student</p>
<ol start="7" type="1">
<li>Menampilkan mahasiswa yang total SKS &lt; 60</li>
</ol>
<p>σ (tot_cred &lt; 60) student</p>
<ol start="8" type="1">
<li>Menampilkan kapasitas dari building ‘Taylor’.</li>
</ol>
<p>π classroom.capacity (σ(building = ‘Taylor’) classroom)</p>
